<div class="tmpHeader">
	<h1 class="ui header">
	    {#<i class="circular user icon"></i>#}
	    <i class="fa fa-fw fa-user"></i>
	    {{ 'sylius.ui.customer_login'|trans }}
	    {#<div class="content">
	        <div class="sub header">{{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}</div>
	    </div>#}
	    <small>{{ 'sylius.ui.access_your_store_account_or_create_a_new_one'|trans }}</small>
	</h1>
	<hr>
</div>