<div class="alert alert-info">
    <div class="d-flex justify-content-start align-items-center">
        <i class="fas fa-info-circle fa-3x mr-3"></i>
        <div>
            <h3 class="alert-heading mb-2">{{ 'sylius.ui.info'|trans }}</h3>
            <p class="mb-0">{{ 'sylius.ui.no_shipping_methods_available'|trans }}.</p>
        </div>
    </div>
</div>
