<div class="text-right margin-top margin-bottom">
	<button type="submit" class="ui huge primary fluid icon labeled button btn-padding"><i class="check icon"></i> {{ 'sylius.ui.place_order'|trans }}</button>
</div>
