<header class="tmpHeader">
	<h1>{{ resource.name }}</h1>
	<hr>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
		</li>
		<li class="breadcrumb-item">{{ resource.name }}</li>
	</ol>
	<hr>
</header>