<div class="tab-content" id="myTabContent">
    {% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
    {% include '@SyliusShop/Product/Show/Tabs/_attributes.html.twig' %}
    {% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %}
    {% include '@SyliusShop/Product/Show/Tabs/_associations.html.twig' %}
</div>