<div class="filtr-header">
    <div class="row mt-3 pb-3">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                       <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
                    </li>
                    <li class="breadcrumb-item">
                       <span>{{ 'sylius.ui.search'|trans|upper }}</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
