{% import '@SyliusShop/Common/Macro/money.html.twig' as money %}

<div class="item margin-top margin-bottom d-flex justify-content-start align-items-center padding-left-right">

    <div class="field">
        <div class="ui radio checkbox">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="content padding-left-right">
        <a class="header font-weight-bold">{{ form_label(form) }}</a>
        {% if method.description is not null %}
            <div class="description shipment-description">
                <p>{{ method.description }}</p>
            </div>
        {% endif %}
    </div>
    
    <div class="extra ml-auto p-2 justify-content-end">
        <div class="shipping-price font-weight-bold ui large right floated fee label">
            {{ money.convertAndFormat(fee) }}
        </div>
    </div>
</div>
