<h2 class="ui center aligned icon header text-center support-block border-top">
    <div class="sub">
        {{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}
    </div>
    <div class="margin-top-smaller font-weight-bold">
	    <i class="circular phone icon"></i>
	    {{ sylius.channel.supportNumber }}
	</div>
</h2>

<div class="ui divider"></div>

<div class="ui center aligned basic segment">
    <i class="huge mastercard icon"></i>
    <i class="huge visa icon"></i>
    <i class="huge paypal card icon"></i>
</div>
