<header class="tmpHeader">
    <h1>{{ 'app.ui.manufacturers'|trans }}</h1>
    <hr>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
           <a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
           <span>{{ 'app.ui.manufacturers'|trans }}</span>
        </li>
    </ol>
    <hr>
</header>